/* .Personajes-ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
} */
.CharacterGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
}

.Personajes-img {
    border-radius: 20px;
    border: 5px solid beige;
    transition: transform 1s ease-in-out;
}

.Personajes-img:hover {
    transform: scale(1.1);

}

.Personajes-img.alien {

    padding: 2px;
    /* Esto será el espacio para simular el borde */
    background: linear-gradient(90deg,
            rgba(139, 0, 0, 0.8) 0%,
            rgba(178, 34, 34, 0.8) 100%);
    border-radius: 20px;
    /* Es opcional, solo si deseas bordes redondeados */
    background-clip: border-box;
    /* Esto asegura que el gradiente se recorte en el borde */
    border: 5px solid transparent;
    /* Hacemos el borde transparente para que solo se vea el gradiente */
}

.Fixed-image {
    position: fixed;
    top: 60px;
    left: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    width: 400px;
    /* Ajusta el tamaño de la imagen según su contenido */
    height: 400px;
    /* Ajusta la altura proporcionalmente */
    max-width: 100%;
    /* Para que no se salga de los límites de su contenedor */
    object-fit: contain;
    border: none;
    border-style: none;
    /* Asegura que no haya borde */

    outline: none;
    padding: 0;
    margin: 0;
}

/* .Tarjeta-front, .Tarjeta-back{
    border: 5px solid beige;
}  */
.Tarjeta-back {
    background-color: aliceblue;
    height: 300px;
    width: 300px;
    border-radius: 20px;
}

.Tarjeta-container {
    position: relative;
}

.Vineta {
    position: absolute;
    top: 10px;
    left: -120px;
    background-color: var(--color-bg-secundario);
    color: var(--color-texto-secundario);
    padding: 10px;
    border-radius: 20px;
    font-size: 24px;
    opacity: 0;
    /* Invisible por defecto */
    transition: opacity 0.3s ease;
    width: 200px;
    height: auto;
    align-content: center;
}

.Vineta::after {
    content: "";
    position: absolute;
    bottom: -10px;
    right: 40px;
    width: 40px;
    height: 20px;
    background-color: var(--color-bg-secundario);
    /* border-width: 10px; */
    /* border-style: solid; */
    clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
    border-radius: 30px;
    /* Suaviza las puntas */
    /* border-color: var(--color-bg-principal) transparent transparent transparent; */
    /* Cuando aplicas border a un div sin tamaño (width: 0; height: 0;), cada borde forma un triángulo */
}

.Vineta-text {
    color:var(--color-texto-secundario);
    display: flex;
    align-items: center;
    gap: 10px;
}

.Vineta-title {
    color: var(--color-texto-secundario);
}

.Tarjeta-container:hover .Vineta {
    opacity: 1;
    /* Hacer visible la viñeta */
}

.Personajes-text {
    font-size: 24px;
}

.Count {
    height: 80px;
    width: 80px;
    background-color: var(--color-bg-secundario);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-texto-secundario);
    font-size: 24px;
}

.CantidadPj {
    height: 80px;
    width: 140px;

    background-color: var(--color-bg-principal);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-texto-secundario);
    font-size: 24px;
}

.Btn-next,
.Btn-prev {
    width: 160px;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: var(--color-bg-secundario);
    color: var(--color-texto-secundario);
}

.Btn-next.disabled,
.Btn-prev.disabled {
    background-color: var(--color-bg-principal);
}

.Controls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Controls-btn {
    display: flex;
}

.Personaje-search {
    border-radius: 20px;
    width: 400px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: var(--color-bg-secundario);
    font-weight: 600;
    color: var(--color-texto-secundario);
}

.Personajes-title {
    font-size: 40px;

}

.Iconos-explicacion {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    font-size: 14px;
    align-items: center;
}

.Iconos-text {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
}